/* General Styles */
/* Container styling */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  background-color: #2c2f38; /* Dark gray background */
  border-radius: 8px;
}

/* Heading styling */
.heading {
  text-align: center;
  color: #9c79f6; /* Light gray text */
}

/* Form styling */
.form {
  margin-bottom: 30px;
}

/* Input group styling */
.inputGroup {
  margin-bottom: 15px;
}

/* Label styling */
.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ececec;
   /* Light gray text for labels */
}

/* Input styling */
.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #555; /* Darker border */
  border-radius: 4px;
  background-color: #444; /* Dark gray background for inputs */
  color: #ececec; /* Light gray text in input */
}

/* Role checkboxes styling */
.roleCheckboxes {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.roleCheckboxes label {
  font-size: 14px;
  margin: 5px;
  color: #ececec;
   /* Light gray text for labels */
}

/* Submit button styling */
.submitButton {
  padding: 10px 20px;
  background-color: #007bff; /* Vibrant blue button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Path list styling */
.pathList {
  list-style: none;
  padding: 2px;
}

/* Path item styling */
.pathItem {
  border-bottom: 1px solid #555; /* Dark gray border */
  padding: 15px 0;
}

/* Path name styling */
.pathName {
  font-size: 18px;
  font-weight: bold;
  color: #ececec; /* Light gray text */
}

/* Roles section styling */
.roles {
  margin-top: 10px;
}

/* Button group styling */
.buttons {
  margin-top: 10px;
}

/* Update and delete button styling */
.updateButton,
.deleteButton {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.updateButton {
  background-color: #28a745; /* Vibrant green button */
  color: white;
  border: none;
}

.deleteButton {
  background-color: #dc3545; /* Vibrant red button */
  color: white;
  border: none;
}

/* Modal styling */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #50545a; /* Dark gray background #3a3f47 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 1000;
  color: #ececec; /* Light gray text */
}

/* Cancel button styling */
.cancelButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #6c757d; /* Gray cancel button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    max-width: 99%;
  }

  .input {
    font-size: 14px;
  }

  .roleCheckboxes {
    flex-direction: column;
  }

  .submitButton {
    width: 100%;
  }
  .modal{
    padding: 50px;
  }
}
