/* General Layout for the Home Page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #464646;
  color: #fff;
  font-family: Arial, sans-serif;
  /* padding: 0 1rem; */
  overflow-x: hidden;
  width: 100vw;
  min-width: 100vw;
}

@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
}
