.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    padding: 50px 10px;
    background-color:#464646;
  }
  
  .marketingtitle {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;

    background-color: #545454;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow:0 0 9px 2px #bfac40cc;
    text-align: center;
    font-family: 'Jost';
    font-weight: 500;
    min-width: 300px;
  }
  
  .subtitle {
    margin-top: 20px;
    /* color:; */
    margin-bottom: 20px;
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Jost';
    font-weight: 200;
    /* max-width: 300px; */
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 560px;
  }
  
  .actionButton {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .comingSoon {
    color:white;
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    font-family: 'Jost';
    font-weight: 100;
    opacity: 0.2;
  }
  
  .marketingButton {
    background-color: #545454;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow: 0 0 9px 2px #bfac40cc;
    margin-top: 35px;
    height: 60px;
    padding: 10px 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Jost';
    font-weight: 300;
    display: flex;
    align-items: center;
  }
  .designtitle {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;

    background-color: #545454;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow:0 0 9px 3px rgb(255, 47, 81,0.5);
    text-align: center;
    font-family: 'Jost';
    font-weight: 500;
    min-width: 300px;
  }
  .designButton {
    background-color: #545454;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow: 0 0 9px 2px #bfac40cc;
    margin-top: 35px;
    height: 60px;
    padding: 10px 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Jost';
    font-weight: 300;
  }
  .webdtitle {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;

    background-color: #545454;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow:0 0 9px 3px  rgb(0, 251, 255,0.5);
    text-align: center;
    font-family: 'Jost';
    font-weight: 500;
    min-width: 300px;
  }
  .webdButton {
    color: white;
    background-color: #545454;
    box-shadow: 0px 3.46px 20px rgb(0, 251, 255,0.5);
    margin-top: 35px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    font-family: 'Jost';
    font-weight: 300;
    align-items: center;
  }
  .productiontitle {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;

    background-color: #545454;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow:0 0 9px 3px rgb(255, 255, 255,0.5);
    text-align: center;
    font-family: 'Jost';
    font-weight: 500;
    min-width: 300px;
  }
  .productionButton {
    background-color: #545454;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow: 0 0 9px 2px rgb(255, 255, 255,0.5);
    margin-top: 35px;
    height: 60px;
    padding: 10px 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Jost';
    font-weight: 300;
  }
  
  .actionButton:hover {
    opacity: 0.6;
    box-shadow: 0px 3.46px 20px  hsl(203, 50%, 50%);
  }
  